/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
/.phpstorm.meta.php
/public/js/app.js.map
/public/js/vendor.js
/public/js/vendor.js.map
/public/css/app.css.map

/public/ckeditor/
/public/js/app.js
/public/css/app.css

public/uploads/
