/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
/.phpstorm.meta.php
npm-debug.log
/public/assets/**/*
/public/vendor/**/*
/composer.lock

/public/uploads/
_ide_helper_models.php
