.text-not-important {
  color: $brand-not-important;
}

.text-semi-not-important {
  color: $brand-semi-not-important;
}

.text-middle-important {
  color: $brand-middle-important;
}

.text-semi-important {
  color: $brand-semi-important;
}

.text-important {
  color: $brand-important;
}